<label class="page__label {{page}}__label" for="{{name}}-input">{{label}}</label>
<input class="page__input {{page}}__input {{error}}" type="{{type}}" name="{{name}}" id="{{name}}-input" value="{{value}}" required>
<div class="page__border"></div>
<span class="page__form-error {{page}}__form-error {{#if active}}page__form-error_active{{/if}}">{{error-label}}</span>