<li class="profile__data-item profile__{{list}}-item">
    <p class="profile__data-label">{{label}}</p>
    <a class="profile__link profile__{{exit}}-link" href="{{adress}}">{{link}}</a>
    <p class="profile__data">{{data}}</p>
</li>
